img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:10px;
  margin-bottom:5px;
}

h1{
  text-align: center;
}

.flex-container{
display: flex;
justify-content: center;
align-items: center;
}

.btn-dark{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 2%;
  
}

.icons{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  gap: 3rem;
}
body{
  height: 100vh;
}
